<body>
  <menu class="menu">
    <form class="authForm" *ngIf="!isAuthorized()">
      <a (click)="redirectToAuth()" class="menuButton"> Authorise </a>
      <a (click)="redirectToMain()" class="menuButton"> Main </a>
    </form>
    <form *ngIf="isAuthorized()">
      <a (click)="redirectToMain()" class="menuButton"> Main </a>
      <a (click)="redirectToProfile()" class="menuButton"> Profile </a>
      <a (click)="unAuthorize()" class="menuButton"> Exit </a>
    </form>
  </menu>
  <router-outlet>

  </router-outlet>
</body>
