<div class="authFormContainer">
  <form class="authForm" *ngIf="!isAuthorized()">
    <label>Логин</label>
    <input class="authInput" type="text" [(ngModel)]="login" [ngModelOptions]="{standalone: true}" />
    <label>Пароль</label>
    <input class="authInput" type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" />
    <div class="authButtonContainer">
      <button class="authButton" (click)="authorize()">Войти</button>
      <button class="authButton" [routerLink]="['/registration']">Создать аккаунт</button>
    </div>
    <label style="color: red;">{{error}}</label>
  </form>
  <form class="authForm" *ngIf="isAuthorized()">
    <button class="authButtonForExit" (click)="unAuthorize()">Выйти</button>
  </form>
</div>
