<div class="authFormContainer">
  <form class="authForm">
    <label>Логин</label>
    <input class="authInput" type="text" [(ngModel)]="login" [ngModelOptions]="{standalone: true}" />
    <label>Пароль</label>
    <input class="authInput" type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" />
    <div class="authButtonContainer">
      <input class="authButton" type="submit" value="Войти" (click)="authorize()"/>
      <button class="authButton" (click)="redirectToRegistration()">Создать аккаунт</button>
    </div>
  </form>
</div>
